<head>
  <title>News Scraper</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body class="body">
<!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">NEWS</a>
  <div class="navDiv">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="link" href="/saved">SAVED ARTICLES </a>
      </li>
      <li class="nav-item">
           <button class="btn btn-primary btn-sm" id="scrapeBtn">SCRAPE</button>
             <button class="btn btn-primary btn-sm" id="scrapeBtn">SCRAPE</button>
        <a class="link" href="/" id="scrapeBtn">SCRAPE NEWS ARTICLES</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0 ml-5">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
</div>

<!-- Newspaper picture -->
<div class="headDiv">
  <div class="container">
  <h1 class="h1News">NEWS SCRAPER!</h1>
</div>
</div>

<hr>
    <hr class="white-underline">

    {{#each saved}}
    <div class="row article">
        <div class="col-md-6" id="saved">

            <h2 class="headline">{{headline}}</h2>
            <ul>
                <li class="summary">{{summaryOne}}</li>
                <li class="summary">{{summaryTwo}}</li>
            </ul>
            <hr>
            <div class="row" id="bottom-row">
                <div class="col-md-6">
                    <a href={{link}} class="link">FULL STORY</a>
                </div>
                <div class="col-md-6">
                    <form action="/unsave" method="PUT" id="delete-article">
                        <input type="hidden" name="id" value={{_id}}>
                        <button class="btn btn-lg" id="deleteBtn" type="submit">DELETE</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-6" id="newNoteDiv">
            <form action="/newnote" method="PUT" id="new-note">
                <input type="hidden" name="id" value={{_id}}>
                <input type="name" class="form-control" id="message" placeholder="Record a note...">
                <button class="btn btn-lg" id="noteBtn" type="submit">SUBMIT</button>
            </form>
            <div id="noteDiv">
                <h2 class="savedHeader">Saved Notes</h2>
                <hr>
                <ul>
                {{#each note}}
                <li>{{this}}</li>
                {{/each}}
                </ul>
            </div>
        </div>
    </div>
    {{/each}}

</div>

<script>
    $(document).ready(function () {
        $("#new-note").on("submit", function (event) {
            event.preventDefault();
            console.log("new note");
            var id = $(this).children().val();
            console.log(id);
            var newNote = $(this).children("#message").val();
            console.log(id);
            console.log(newNote);
            var data = {
                _id: id,
                note: newNote
            }
            console.log(data);
            $.ajax({
                type: "PUT",
                url: "/newnote/" + id,
                data: data
            })
            location.reload();
            $("#message").val("");
        });
        $("#delete-article").on("click", function (event) {
            event.preventDefault();
            console.log("delete it!");
            var id = $(this).children().val();
            console.log(id);
            var data = {
                _id: id
            }
            $.ajax("/unsave/" + id, {
                type: "PUT",
                data: data
            })
            location.reload();

        });

    });
</script>